:root {
  --body-fz: 1.6rem;
  --body-lh: 1.5;
  --dark-color: #232536;
  --secondary-blue: #4f56ff;
  --peach: #ffd3af;
  --white-full: #ffffff;
  --orange: #ffa155;
  --white-40: rgba(255, 255, 255, 0.4);
  --font400: 400;
  --font500: 500;
  --font600: 600;
}
